.container{

  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color:#e2e8f0;
  padding: 0;

}

.wrapper {
  max-width: 800px;
  background-color: #f8fafc;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.title {
  text-align: center;
}

.tabs {
  display: flex;
  justify-content: center;
  gap: var(--spacing-8, 32px);
  border-radius: var(--rounded-lg, 8px);
  background: var(--muted, #e2e8f0);
  color: var(--muted-foreground, #525252);
  padding: 10px 0px;
}

.tabs > button {
  border: none;
  width: var(--spacing-24, 96px);
  padding: var(--spacing-1, 8px) var(--spacing-3, 12px);
  border-radius: var(--rounded-lg, 8px);
  border: 1px solid rgba(60, 95, 95, 1);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.tabs > button:hover {
  background: rgba(60, 95, 95, 0.8);
}

button.active {
  color: white;
  background: rgba(60, 95, 95, 1);
  font-weight: 600;
}

.form {
  display: flex;
  padding: var(--spacing-4, 16px) var(--spacing-2, 8px);
  flex-direction: column;
  gap: var(--spacing-4, 16px);
}

.formfield {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.error-message {
  color: var(--danger-border);
  text-align: center;
}
