.detailsContainer {
  padding: 20px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.table th,
.table td {
  padding: 12px;
  border: 1px solid #dddddd;
  text-align: left;
}

.table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.table tbody tr {
  background-color: #f9f9f9;
}

.textCenter {
  text-align: center;
}

.headers {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.btnLink {
  text-decoration: none;
  color: inherit;
}

.shareData{
  display: flex;
  justify-content: space-between;
  align-items: center;
}