.tableContainer {
  overflow-x: auto;
}

.container {
  min-height: 85dvh;
  padding: 30px;
  border-radius: 8px;
  background-color: white;
}

.linkContainer {
  display: flex;
  gap: 20px;
}

.links {
  font-size: 20px;
  color: white;
  list-style: none;
  text-decoration: none;
}

.input {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.errorDiv {
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 40px;
}

.table th,
.table td {
  padding: 12px;
  border: 1px solid #dddddd;
  text-align: left;
}

.table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.table tbody tr{
  background-color: #f9f9f9;
}

.normalInput {
  border: none;
  width: 90%;
  background-color: #f9f9f9;
}

.normalInput:disabled {
  cursor: auto;
}

.errorInput{
  border: 1px solid red;
  background-color: #f2f2f2;
}

.successData{
  border: 1px solid #22c55e;
  color: #22c55e;
  text-align: center;
  margin: auto;
  width: 150px;
  border-radius: 8px;
  padding: 5px;
  display: flex;
  align-items: center;
  gap: 4px;
  justify-content: center;
  font-size: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.btnActionsContainer{
  display: flex;
  gap: 4px;

  justify-content: flex-end;
  z-index: 0;
}

.successMessage{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}