.navbar {
  background: linear-gradient(135deg, #2c8ab0 0%, #5bc2d4 50%, #8ab8d4 100%);
  margin: 15px;
  padding: 20px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
}
.content {
  min-height: 85dvh;
  padding: 15px;
  background-color: #e2e8f0;
}

.linkContainer {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  
}

.links {
  font-size: 20px;
  color: white;
  list-style: none;
  text-decoration: none;
  cursor: pointer;
}
.title{
  color: white;
}